/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

header{
    text-align: center;
}

h1{
    text-align: center;
    font-family: 'Akshar', sans-serif;
    text-decoration: underline;
    font-size: 45px;
    opacity: 150%;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    padding: 0px;
}

h2{
    text-align: center;
    font-family: 'Akshar', sans-serif;
    text-decoration: underline;
    font-size: 35px;
    color: rgb(0, 0, 0);
}

h3{
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}

h4{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
}

body{
    background-color: rgb(255, 220, 149);
}

/* ESTILOS MENU */

.navbar{
    background-color: rgb(255, 220, 149);
    
}

.dropdown-menu{
    background-color: rgb(255, 220, 149);
}

/* INDEX */
.info{
    text-align: center;
    margin: 5px;
    padding: 2px;
    opacity: 300%;
    color: black;
    height: 70vh;
}

/* VIDEO QUIENES SOMOS*/
.video{
    display: flex;
    justify-content: center;
}

.video iframe{
    width: 480px;
    height: 300px;
}

/* ESTILOS FORMULARIO CONTACTO */
.formulario{
    padding: 10px;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
}

.entrada{
    width: 100%;
    background-color: white;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'Akshar', sans-serif;
}

.mapa{
    display: flex;
    justify-content: center;
}

/* ESTILOS TIENDA */

.tienda{
    height: auto;
    justify-content: center;
    align-self: center;
    display: grid;
    grid-template-areas: "imagen1"
                        "imagen2"
                        "imagen3"
                        "imagen4"
                        "imagen5"
                        "imagen6"
                        "imagen7"
                        "imagen8";
    row-gap: 1rem;
}

.imagen1{
    grid-area: imagen1;
}

.imagen2{
    grid-area: imagen2;
}

.imagen3{
    grid-area: imagen3;
}

.imagen4{
    grid-area: imagen4;
}

.imagen5{
    grid-area: imagen5;
}

.imagen6{
    grid-area: imagen6;
}

.imagen7{
    grid-area: imagen7;
}

.imagen8{
    grid-area: imagen8;
}

.copas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    justify-items: center;
    margin: 40px 80px;
}

.copas-img{
    width: 200px;
    height: 250px;
    transition: all 0.1s;
}

.copas-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img1{
    grid-area: imagen1;
}
.img2{
    grid-area: imagen2;
}
.img3{
    grid-area: imagen3;
}
.img4{
    grid-area: imagen4;
}
.img5{
    grid-area: imagen5;
}
.img6{
    grid-area: imagen6;
}

.indumentaria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    margin: 40px 80px;
}

.indumentaria-img{
    width: 200px;
    height: 250px;
    transition: all 0.1s;
}

.indumentaria-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ind1{
    grid-area: ind1;
}

.ind2{
    grid-area: ind2;
}

.ind3{
    grid-area: ind3;
}

.ind4{
    grid-area: ind4;
}

/* PREGUNTAS FRECUENTES */
.preguntero{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    text-align: center;
}

dt{
    font-weight: bold;
}

/* MEDIA QUERIES */

@media screen and (min-width:720px) {
    .video iframe{
        width: 720px;
        height: 400px;
    }

    .tienda{
        height: auto;
        grid-template-areas:"imagen1 imagen2"
                            "imagen3 imagen4"
                            "imagen5 imagen6"
                            "imagen7 imagen8";
        column-gap: 1rem;
    }

    .copas{
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
    .copas-img{
        width: 300px;
        height: 350px;
    }
}

/* ESTILOS FOOTER */

.piePagina ul li a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

footer{
    text-align: center;
    color: black
}

@media screen and (min-width:1280px) {
    .tienda{
        height: auto;
        grid-template-areas: "imagen1 imagen2 imagen3 imagen4"
                            "imagen5 imagen6 imagen7 imagen8";
}

.copas{
    height: auto;
    justify-content: center;
    align-self: center;
    display: grid;
    grid-template-areas: "imagen1 imagen2 imagen3"
                        "imagen4 imagen5 imagen6";
    row-gap: 1rem;
}

.copas-img{
    width: 300px;
    height: 350px;
    transition: all 0.1nd
}
.indumentaria{
    height: auto;
    grid-template-areas:"ind1 ind2"
                        "ind3 ind4";
}


}